body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200703/pngtree-mathematics-education-calculator-ruler-hand-drawn-background-image_340649.jpg");
  display: flex;
  justify-content: center;
  min-height: 500px;
  align-items: center;
background-repeat: no-repeat;
 background-size: cover;

}
.container {
   display: inline-grid;
  grid-template-columns:auto auto auto auto;
  background-image: url("https://image.shutterstock.com/image-illustration/pink-subtle-background-soft-vintage-260nw-438362320.jpg");
  
  padding: 10px;
  }
  .output1 {
 
  background-image: url("https://icon2.cleanpng.com/20171220/jpe/beautiful-pink-water-stains-5a3a22692ae159.7301374515137593371757.jpg");
  color:#ff6666;
  border: none;
  font-size: large;
  text-align: right;
  font-family: monospace;
  font-size: 50px;
  min-width: 50px;
  min-height: 50px;
}
.button {
 width: 50px;
  height: 50px;
  background: #ff8080;
  transition: width 2s;
  border-radius: 50%;

  
}
.button:focus {outline:0;}
.output1 {
  grid-area: 2 / 5 /  4 /  5;
}
.button1 {
  grid-area: 1 / 1 / 2 / 5;
}
.button2 {
  grid-area: 2 / 1 / 3 / 2;
}
.button3 {
  grid-area: 2 / 2 / 3 / 3;
}
.button4 {
  grid-area: 2 / 3 / 3 / 4;
}
.button5 {
  grid-area: 2 / 4 / 3 / 5;
  
}
.button6 {
  grid-area: 3 / 1 / 4 / 2;
}
.button7 {
  grid-area: 3 / 2 / 4 / 3;
}
.button8 {
  grid-area: 3 / 3 / 4 / 4;
}
.button9 {
  grid-area: 3 / 4 / 4 / 5;
  
}
.button10 {
  grid-area: 4 / 1 / 5 / 2;
}
.button11 {
  grid-area: 4 / 2 / 5 / 3;
}
.button12 {
  grid-area: 4 / 3 / 5 / 4;
}
.button13 {
  grid-area: 4 / 4 / 5 / 5;
  
}
.button14 {
  grid-area: 5 / 1 / 6 / 2;
}
.button15 {
  grid-area: 5 / 2 / 6 / 3;
}
.button16 {
  grid-area: 5 / 3 / 6 / 4;
}
.button17 {
  grid-area: 5 / 4 / 6 / 5;
  
}
.button18 {
  grid-area: 6 / 1 / 7 / 3;
  
}


.button:hover {
  color:red;
  transition: all 0.3s ease;

}
